@use "../../../variables.scss" as variables;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 70rem;
  height: 50rem;
  margin: 1rem 2rem;
  background-color: transparent;
  backdrop-filter: blur(3rem);
  box-shadow: rgba(0, 0, 0, 0.16) 0 0.625rem 2.25rem 0,
    rgba(0, 0, 0, 0.06) 0 0 0 0.0625rem;
}
