@use "@angular/material" as mat;

@media (max-width: 1150px) or (max-height: 850px) {
  .weather {
    $block: &;

    &__content {
      flex-direction: column;
      #{ $block }__header {
        padding-right: 1rem;

        #{ $block }__icon {
          width: 5rem;
        }

        #{ $block }__place {
          font-size: 1.3rem;
          margin: 0.5rem;
        }

        #{ $block }__date {
          font-size: 1rem;
          margin: 0.3rem;
        }
      }

      #{ $block }__main {
        #{ $block }__temperature {
          font-size: 5rem;
          font-weight: lighter;
        }

        #{ $block }__symbol,
        #{ $block }__description {
          font-size: 1.2rem;
        }
      }

      #{ $block }__details {
        flex-direction: row;
        width: 75%;
      }
    }
  }
}

@media (max-width: 650px) {
  .weather {
    $block: &;

    &__content {
      #{ $block }__details {
        flex-direction: row;
        width: 95%;
      }
    }
  }
}

@media (max-width: 450px) {
  .weather {
    $block: &;

    &__search {
      #{ $block }__form {
        @include mat.form-field-density(-3);
      }
    }
  }
}
