<mat-card class="weather">
  <section class="weather__search">
    <form
      class="weather__form"
      [formGroup]="weatherService.searchForm"
      (ngSubmit)="submitSearch()"
    >
      <mat-form-field>
        <mat-label>Enter city</mat-label>
        <input
          matInput
          id="city"
          type="text"
          [formControlName]="'cityControl'"
        />
      </mat-form-field>

      <button mat-raised-button type="submit" (click)="submitSearch()">
        Search
      </button>
    </form>
    <mat-error>{{ weatherService.errorMessage() }}</mat-error>
  </section>
  <section class="weather__header">
    <img
      class="weather__icon"
      [src]="weatherService.getLargeIconUrl()"
      alt="Weather condition icon"
    />
    <div>
      <p class="weather__place">
        <span>{{ weatherService.currentWeather()?.location?.name }}</span
        >,
        <span>{{ weatherService.currentWeather()?.location?.country }}</span>
      </p>
      <p class="weather__date">
        {{ formatDate(weatherService.currentWeather()?.location?.localtime) }}
      </p>
    </div>
  </section>
  <section class="weather__main">
    <p>
      <span class="weather__temperature">{{
        weatherService.currentWeather()?.current?.temp_c
      }}</span
      ><span class="weather__symbol">&deg;C</span>
    </p>
    <p class="weather__description">
      {{ weatherService.currentWeather()?.current?.condition?.text }}
    </p>
  </section>
  <section class="weather__details">
    @for (detail of WEATHER_DETAILS; track detail.key) { @if
    (weatherService.currentWeather()?.current) {
    <app-weather-detail
      [detail]="detail"
      [value]="getValueForDetail(detail.key)"
    ></app-weather-detail>
    } }
  </section>
</mat-card>
