@use "./app/variables.scss" as variables;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: variables.$main-background-gradient;
  color: variables.$font-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
